<div>

    <p class="text-center mx-4 my-4">Must Do Coding Questions for Product Based Companies</p>

   

    <div class="flex flex-wrap border-t-2 border-gray-200 py-4">
        <div class="w-1/2 px-4">
            <a routerLink="/arrays" class="title-font font-medium text-gray-900 hover:text-blue-700">Arrays</a><br>
            <a routerLink="/string" class="title-font font-medium text-gray-900 hover:text-blue-700">String</a><br>
            <a routerLink="/linked-list" class="title-font font-medium text-gray-900 hover:text-blue-700">Linked
                List</a><br>
            <a routerLink="/stack" class="title-font font-medium text-gray-900 hover:text-blue-700"> Stack</a><br>
            <a routerLink="/queue" class="title-font font-medium text-gray-900 hover:text-blue-700">Queue</a><br>
            <a routerLink="/trees" class="title-font font-medium text-gray-900 hover:text-blue-700">Trees</a><br>
            <a routerLink="/heap" class="title-font font-medium text-gray-900 hover:text-blue-700">Heap</a><br>
            <a routerLink="/recursion"
                class="title-font font-medium text-gray-900 hover:text-blue-700">Recursion</a><br>
        </div>
        <div class="w-1/2 px-4">
            <a routerLink="/hashing" class="title-font font-medium text-gray-900 hover:text-blue-700">Hashing</a><br>
            <a routerLink="/graph" class="title-font font-medium text-gray-900 hover:text-blue-700">Graph</a><br>
            <a routerLink="/greedy" class="title-font font-medium text-gray-900 hover:text-blue-700">Greedy</a><br>
            <a routerLink="/dp" class="title-font font-medium text-gray-900 hover:text-blue-700">Dynamic
                Programming</a><br>
            <a routerLink="/dc" class="title-font font-medium text-gray-900 hover:text-blue-700">Divide &
                Conquer</a><br>
            <a routerLink="/backtracking"
                class="title-font font-medium text-gray-900 hover:text-blue-700">Backtracking</a><br>
            <a routerLink="/bits" class="title-font font-medium text-gray-900 hover:text-blue-700">Bits
                Manipulation</a><br>
        </div>
    </div>

</div>